<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <% include shared/bootstrap.head.ejs %>
</head>
<body>

<a href="/">
    <button class="btn btn-success">Back</button>
</a>
<h1 class="text-center pt-5"><%= title %></h1>

<div class="container pt-3">
    <div class="row">
        <div class="col-4">

            <h3 class="pb-4">FORM POST</h3>
            <form method="post" action="/api/union">
                <div class="form-group">
                    <label for="exampleInputEmail1">Merchant NO.</label>
                    <input type="text" class="form-control"
                           id="merchant-no-field" name="merchant_no" aria-describedby="emailHelp"
                           placeholder="Merchant Number">

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" id="name-field" name="customer_name" placeholder="Name">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Card NO.</label>
                    <input type="text" class="form-control" id="card-num-field" name="card_no"
                           placeholder="Card Number">
                </div>


                <div class="form-group">
                    <label for="exampleInputEmail1">Amount</label>
                    <input type="text" class="form-control" id="amount-field" name="amount" placeholder="Amount">
                </div>

                <button type="submit" class="btn btn-primary" value="submit">Submit</button>
            </form>
        </div>

        <div class="col-4">
            <h3 class="pb-4">Front End Jump</h3>
            <a href="https://gateway.test.95516.com/gateway/api/frontTransReq.do">
                <button class="btn btn-warning">Front End Jump</button>
            </a>
        </div>

    </div>
</div>

<% include shared/bootstrap.tail.ejs %>
</body>
</html>
